<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JotForm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>JotFormUniversal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A6240F811E5CCCFF00E24B30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6288DE71E5CE34E007EB753</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A67F05B41E5BD781002E9B11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A67F05BD1E5BD782002E9B11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
